<div class="flex flex-col p-4">
    <div class="flex-1 items-center">
        <h2>Herzlich Willkommen kleiner Schatz!</h2>
        <h4>"Hallo, habt ihr Hunger?"</h4>
    </div>
    <div class="flex flex-col">
        <p>Beliebte Rezepte</p>
        <div class="flex gap-4">
            <mat-card class="flex-1">
                <mat-card-header>
                    <mat-card-title>
                        <h3 class="title">Pelmeni</h3>
                    </mat-card-title>
                    <mat-card-subtitle>Hauptgericht</mat-card-subtitle>
                </mat-card-header>
                <img
                    mat-card-image
                    src="./../../../assets/pelmeni.jpg"
                    alt="RezeptFoto"
                    class="card-image" />
                <mat-card-content>
                    <p>
                        Pelmeni sind ursprünglich aus Russland stammende, in
                        Wasser oder Brühe gekochte und mit Fleisch gefüllte
                        Teigtaschen.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="flex-1">
                <mat-card-header>
                    <mat-card-title>
                        <h3 class="title">Manti</h3>
                    </mat-card-title>
                    <mat-card-subtitle>Hauptgericht</mat-card-subtitle>
                </mat-card-header>
                <img
                    mat-card-image
                    src="./../../../assets/manti.jpg"
                    alt="RezeptFoto"
                    class="card-image" />
                <mat-card-content>
                    <p>
                        Russische Manty sind erheblich größer als die türkischen
                        und werden in einem Dampfkochtopf Mantowarka oder
                        Mantyschniza auf Dampf gegart.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="flex-1">
                <mat-card-header>
                    <mat-card-title>
                        <h3 class="title">Vareniki</h3>
                    </mat-card-title>
                    <mat-card-subtitle>Hauptgericht</mat-card-subtitle>
                </mat-card-header>
                <img
                    mat-card-image
                    src="./../../../assets/vareniki.jpeg"
                    alt="RezeptFoto"
                    class="card-image" />
                <mat-card-content>
                    <p>
                        Wareniki ist ein Gericht der slawischen Küche, das im
                        gesamten Gebiet der ehemaligen Sowjetunion verbreitet
                        ist.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
